*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
.text1{
    width: 100%;
    height: 200px;
    background: aqua;
    margin: auto;
    position: absolute;
}